.flexContainer {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.imageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding: 2rem;
}
.imageSelector > ul {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
button {
  padding: 4px;
  border-radius: 1rem;
  margin: 0.5rem;
  background-color: transparent;
  border: 2px solid grey;
  color: grey;
  transition: all 0.5s ease;
}
button:hover {
  background-color: #fafafa;
  border: 2px solid #fafafa;
  color: rgb(43, 47, 51);
}
.statsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 1rem;
}
.stats {
  width: 100%;
  color: #fafafa;
  height: fit-content;
  padding: 1rem;
}
